
<!DOCTYPE html>
<html>
<head>
  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>hello this is a test</h1>

  <ul>
    <li>
      <a href="/play/rock">Play Rock</a>
    </li>

    <li>
      <a href="/play/paper">Play Paper</a>
    </li>

    <li>
      <a href="/play/scissors">Play Scissors</a>
    </li>
  </ul>



  <p>You played <%= @user_move %>!</p>

  <p>The computer played <%= @computer_move %>!</p>

  <p>You <%= @result %>!</p>
  <p> you <%= @result %></p>


</body>
</html>
