

<div class="container">
   <div class="row">
       <div class="col-md-offset-2 col-md-8"></div>
   </div>
   <div class="row">
       <div class="col-md-offset-2 col-md-4"> <%= @user_throw %>
         <img class: "img-responsive" src=<%= @user_img_src %> >
       </div>
       <div class="col-md-4"> <%= @comp_throw %>
         <img class: "img-responsive" src=<%= @comp_img_src %> >
       </div>
   </div>
   <div class="row">
       <div class="col-md-12">
         <div class="well text-center">
           <h1> <span class="label">
             <%= @outcome %>
           </span></h1>
       </div>
   </div>
</div>
